*{
    margin: 0;
    padding: 0;
}
.slide img{
    height: 50vh;
    width: 100%;
   
}
.slide-container{
    position: relative;
    width: 100%;
}

.arrow{
    cursor: pointer;
    position: absolute;
    top: 45%;
    background-color: white;
    padding: 8px 20px;
    
}
.next{
    right: 0px;
}
.caption{
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 0px;
}
.slide{
    display: none;
}

